.rightImage {
  background: linear-gradient(#3b1c39, #03ff03) padding-box,
    linear-gradient(45deg, #00ff2f, #ff0303, blue) border-box;
  border: 10px solid transparent;
  border-radius: 25rem;
  height: 8%;
  width: 19.5%;
  overflow: hidden;
  display: block;
  margin-top: -10px;
  box-shadow: 5px 5px 50px gray;
}
.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
span {
  background: linear-gradient(to right, #ff0000, #00ff2f, #3707f8 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.heroContainer {
  display: flex;
  /* justify-content: space-evenly; */
  margin-top: 8rem;
}
.bio {
  display: block;
  margin: auto 13.7rem;
  height: 70%;
}


/* Media query for screens up to 576px (typical small phones) */
@media (max-width: 576px) and (min-width: 360px){
  .rightImage { /* Take full width on small screens */
    width: 14rem;
    height: 14rem;
    margin-top: 3rem;

  }
  .image { /* Two cards per row with some spacing */
  }
  .span { 
    font-size: 2rem;/* Three cards per row with some spacing */
  }
  .heroContainer {
    width: 22.5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
  }
  .bio>h1 {
    font-size: 30px;
    width: 18rem;
  }
 
}

/* Media query for screens between 576px and 768px (larger phones) */
@media (min-width: 576px) and (max-width: 768px) {
  
  .rightImage {/* Take full width on small screens */
  }
  .image {/* Two cards per row with some spacing */
  }
  .span {/* Three cards per row with some spacing */
  }
  .heroContainer {
  }
  .bio {
    
  }
  
}

/* Media query for screens between 768px and 992px (tablets) */
@media (min-width: 768px) and (max-width: 992px) {
  .rightImage { /* Take full width on small screens */
  }
  .image { /* Two cards per row with some spacing */
  }
  .span { /* Three cards per row with some spacing */
  }
  .heroContainer {
  }
  .bio {
    
  }
}

/* Media query for screens larger than 992px (desktops) */
@media (min-width: 992px) {
  .rightImage {/* Take full width on small screens */
  }
  .image { /* Two cards per row with some spacing */
  }
  .span {/* Three cards per row with some spacing */
  }
  .heroContainer {
  }
  .bio {
    
  }
}
