.about{
    width: 80%;
    position: absolute;
    left: 5rem;
    /* background-color: aqua; */
}
.about>div>h1{
    width: 70%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.about>div>p{
    /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
}
.education{
    display: flex;
    justify-content: space-between;
}