/* Navbar Heading */
.navbar{
  display: flex;
  margin-top: 10px;
}


ul{
  display: flex;
  position: absolute;
  top: 0px;
  right: 20px;
} 
/* li{
  background: linear-gradient(to right,#ff8a00,#dd4c4f 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */
li{
  color: white;
}
.toggle-btn{
  display: none;
}

@media (max-width: 768px) {
  .navbar ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: rgb(12, 12, 12);
    opacity: .7;
    padding: 10px;
  }

  .navbar ul.show {
    display: flex;
  }
  .navbar ul.show {
    display: flex;
  }

  .navbar li {
    margin: 5px 0;
    color: white;
    display: flex;
    
  }
  .navbar li a{
    margin: 5px 0;
    color: white;
    display: flex;
  }

  .navbar button {
    display: block; /* Show the button on smaller screens */
    margin-top: 10px;
  }
  .whatsapp{
    background-color: white;
  }
}
