.innerFooter{
    display: flex;
    width: 61.5%;
    margin: px auto;
}
.footer{
    position: absolute;
    right: 15rem;
    display: flex;
    
}
.innerFooter>p{
    margin: 20px 1.5rem;
    display: flex;
}
p>a{
    margin: 0px 10px;
}